<div id="<%= dom_id movie %>">
  <p>
    <strong>Photo url:</strong>
    <%= movie.photo_url %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= movie.synopsis %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Rate press:</strong>
    <%= movie.rate_press %>
  </p>

  <p>
    <strong>Rate viewer:</strong>
    <%= movie.rate_viewer %>
  </p>

  <p>
    <strong>Allocine:</strong>
    <%= movie.allocine_id %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

</div>
